<div id="introduction">
    <div class="inner">
    <%- introMarked %>
    </div>
    <div class="disclaimer">
    <ul>
        <li>
        本書は<%= firstReleaseDate %>の情報に基づき執筆されています。
        本書に登場する製品やソフトウェアやサービスなどの情報はすべて原稿執筆時点でのものとなります。
        </li>
        <li>
        本書に記載された内容は、情報の提供のみを目的としております。また、本書の制作にあたり可能な限り正確な記述をつとめましたが、本書の正確性を保証をするものではなく、内容に関する一切の責任を負いません。本書を用いた運用はすべてご自身の責任と判断でおこなってください。
        </li>
        <li>
        本書中の会社名や商品名は、該当する各社の商標または登録商標です。
        本書中では™および®マークは省略しています。
        </li>
    </ul>
    </div>
</div>